[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "lib/fatfs_spi"]
	path = lib/fatfs_spi
	url = git@github.com:carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
